#particles-js {
  background: $main;
  display: flex;
  flex-wrap: wrap;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100% !important;
    height:100vh !important;
  }
}

// Chrome scrollbar css
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: 0px solid transparent;
    border-radius: 0px;
}

.right-block {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  color: #FFF;
  position: absolute;
  left: 85%;
  top: 50%;
  height: 85%;
  width: 25%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .title {
    color: #FFF;
    padding: 5px;
  }
  .json-block {
    text-align: left;
    scrollbar-width: thin;
    z-index: 0;
    color: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 95%;
    @media (max-width: 800px) {
      height: 75%;
    }
  }
  @media (max-width: 800px) {
    font-size: 15px;
    top: 80%;
    left: 50%;
    height: 25%;
    width: 70%;
    padding-top: 0px;
    padding-bottom: 3px;
  }
}
.container-fluid {
  position: absolute;
}

.small-asides {
  text-align: left;
  color:#FFF;
  position: absolute;
  top: 80%;
  left: 20%;
  height: 15%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .title {
    font-size: 10px;
    display: block;
    padding-bottom: 10px;
    line-height: 1;
    color: #FFF;
    margin-top: 10px;
    @media only screen and (min-width:$cut){
      font-size: 25px;
    }
  }
  .item {
    font-weight: bold;
    padding-right: 10px;
    @media only screen and (min-width:$cut){
      font-size: 15px;
    }
  }
  .item-desc {
    padding-right: 10px;
    @media only screen and (min-width:$cut){
      font-size: 15px;
    }
  }

  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }

  @media (max-width: 800px), (max-height: 200px) {
    display: none !important;
  }
}

.header {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #FFF;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 50px;
    }
  }
  .site-description {
    font-size: 15px;
    display: block;
    line-height: 1;
    color: #FFF;
    margin-top: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.header-links {
  margin: 10px;
  .link {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }
  }
}

.down {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  .icon {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      fill: #fff;
      -webkit-animation: pulse 1.3s infinite;
      animation: pulse 1.3s infinite;
      &:hover {
        color: $sec;
      }
      &:active {
        color: $sec;
      }
  }
}

.footer {
  left: 50%;  
  bottom: 0%;
  position: absolute;
  text-align: center;
  color: #FFF;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}
